$font-primary: 'Poppins', sans-serif;
$font-secondary:'Merriweather Sans', sans-serif;
$bg-primary:#ea3057;
$bg-secondary:#c20d34;
$text-white:#fff;
$text-light:#cccccc;
$display-flex:flex;
 $align-center:center;
 $text-dark:#110f0f;

$theme-colors:(
 "bg-primary":#ea3057,
 "bg-secondary": #c20d34,
 "bg-info":#0b1bf5,
 "display-flex":flex

);